.grid-container {
  display: grid;
  grid-template-rows: 7rem repeat(3, 1fr) 10rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "top top top top top"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: top;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  /* display: flex; */
  align-self: center;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: 0 2em;
  height: 25em;

}

.presentation>img {
  max-width: 30em;
  border-radius: 15px;
}

.presentation>p {
  max-width: 30em;
  order: 2;
  align-self: flex-end;
  margin-bottom: 3em;
}

@media only screen and (max-width: 920px) {
  .presentation {
    flex-wrap: wrap;
  }
}