.grid-container {
  display: grid;
  grid-template-rows: 7rem repeat(3, 1fr) 10rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "top top top top top"
    "main main main main main"
    "main main main main main"
    "main main main main main"
    "footer footer footer footer footer";
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: top;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  /* display: flex; */
  align-self: center;
}